div.DayPlan {
    width: calc(100% / 7);
    min-width: 150px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
	background-color: #e0e1e2;
	text-align: center;
}
.DayPlan h3 a {
	color: var(--accents);
	text-decoration: none;
	padding: 8px;
	border: 1px solid var(--accents);
	border-radius: 4px;
	transition: all .333s;
}
.DayPlan h3 a:hover {
	color: white;
	background-color: var(--accents);
}