div.MealPlan {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}
div.MealPlan h1 {
	text-align: center;
	color: var(--primary-light);
}
div.WeekPlans {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
}