.details_container {
	display: flex;
	flex-direction: row;
}

.details {
	background-color: #f5f4f4;
	width: calc(100% - 300px);
	height: 100vh;
	padding: 1rem 2rem;
	overflow-y: scroll;
}
.details hr {
	margin: 3rem 0;
	border-color: var(--secondary);
}