.sidebar {
	min-height: 100vh;
	width: 300px;
	background-color: #e0e1e2;
	position: relative;
	overflow: hidden;
}
.sidebar > .scroller {
	padding: 1rem 2rem;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
}
.sidebar > .scroller > hr.spacer.hidden {
	border: none;
	margin: 0;
	padding-top: 2rem;
}
.sidebar h3, .sidebar h3 a {
	color: var(--primary);
}
.week {
	margin-bottom: 0;
}
.week h4 {
	border-bottom: 1px solid var(--accents);
	padding-bottom: 3px;
	margin: 0.5rem 0;
	cursor: pointer;
	display: flex;
}
.week h4:before {
	content: "\2023";
	font-size: 2rem;
	line-height: 1rem;
	display: inline-block;
	transition: all .333s;
}
.week.collapsed h4:before {
	transform: rotate(0);
	margin-right: 5px;
}
.week.expanded h4:before {
	transform: rotate(90deg);
	margin-top: 5px;
	margin-right: 0;
}
.reflection {
	margin: .5rem 0 1rem;
}
.reflection a {
	color: var(--secondary);
}
.week h5 {
	margin-top: 0;
}
.week ul {
	margin-left: 3px;
	border-left: 1px solid var(--primary);
	padding-left: 1rem;
	list-style: none;
}
.week ul li {
	line-height: 1rem;
	padding-bottom: 1rem;
}
.week ul li:last-child {
	padding-bottom: 0;
}
.week ul li a {
	color: var(--text);
	text-decoration: none;
}
.week ul li a:hover {
	color: var(--accents);
	text-decoration: underline;
}
.week ul li a:after {
	transition: all .333s;
	display: inline-block;
	vertical-align: sub;
	font-size: 1.4rem;
	line-height: 0;
}
.week ul li a:hover:after {
	content: "\2002\2192";
	text-decoration: none;
}