div.WeekPlan {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
}
.WeekPlan h2 {
	color: var(--secondary);
}
div.DayPlans {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
	width: 100%;
}